.root {
    -fx-background-image: url("in-game-background/bg.png");
    -fx-background-size: cover;
}

.goldRoot {
    -fx-background-image: url("in-game-background/goldbg.jpg");
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-min-width: 350px;
    -fx-min-height: 50px;
    -fx-font-weight: bold;
    -fx-font-family: 'Papyrus', Cursive;
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 10 10 10 10;
}

.button:hover {
    -fx-background-color: #45a049;
}
