.instructions-header {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: black;
    -fx-font-family: 'Papyrus', Cursive;
}

.button {
    -fx-background-color: #A38852; /* Green background color */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-min-width: 350px; /* Fixed width */
    -fx-min-height: 50px; /* Fixed height */
    -fx-font-weight: bold; /* Bold font */
    -fx-font-family: 'Papyrus', Cursive;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}

.text-ins {
    -fx-font-size: 19px;
    -fx-fill: black;
    -fx-font-family: "Lucida Console";
}

.root {
    -fx-background-image: url("bricksInstruction.jpeg");
    -fx-background-size: cover;
}