.high-scores-header {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: black;
    -fx-font-family: 'Papyrus', Cursive;
}

.button {
    -fx-background-color: #A38852;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-min-width: 350px;
    -fx-min-height: 50px;
    -fx-font-weight: bold;
    -fx-font-family: 'Papyrus', Cursive;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #45a049;
}

.text-ins {
    -fx-font-size: 25px;
    -fx-fill: black;
    -fx-font-family: "Lucida Console";
}

.root {
    -fx-background-image: url("bricksInstruction.jpeg");
    -fx-background-size: cover;
}